.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
}

.folder {
  display: flex;
  flex-direction: column;
}

.folder_info {
}

.folder_name {
  margin-left: 20px;
}

.folder_icon {
  margin-left: 20px;
  color: blue;
}

.folder_content {
  margin-left: 20px;
}

.file {
}

.file_name {
  margin-left: 20px;
}

.file_icon {
  margin-left: 20px;
  color: white;
}
